<h1
    style='text-align: center;
    padding: 20px;'
>Tạo lớp học phần</h1>
<form action='create_lhp' method='post' style='width:400px; margin:auto'>
    <div class='mb-3'>
        <label for='name' class='form-label'>Tên lớp học phần</label>
        <input type='text' class='form-control' id='name' name='name' required />

    </div>
    <div style='display: flex;justify-content: space-between;' class='mb-3'>
        <div style='width: 30%;' class=''>

            <label for='state' class='form-label'>Trạng thái</label>
            <select name='state' style='display: block;' id='state'>

                <option value='1' selected>Mở</option>
                <option value='0'>Đóng</option>

            </select>
        </div>
        <div class=''>
            <label for='tinchi' class='form-label'>Số lượng tín chỉ:</label>
            <input
                name='quantityoftinchi'
                type='number'
                class='form-control'
                id='tinchi'
                placeholder='1 tín = 10 tiết'
                required
            />
        </div>
        <div class=''>

            <label for='quantity' class='form-label'>Số lượng sinh viên:</label>
            <input name='quantityOfstudents' type='number' class='form-control' id='quantity' required />
        </div>
    </div>

    <div
        style='display: flex;
    justify-content: space-between;'
        class='mb-3'
    >
        <div style='width: 30%;' class=''>
            <label for='startDateString' class='form-label'>Ngày bắt đầu:</label>

            <input name='startDateString' id='startDateString' type='date' />
        </div>
        <div class=''>
            <label for='startTime' class='form-label'>Học từ tiết: </label>

            <select name='startTime' style='display: block;' name='' id='startTime'>
                <option value='1' selected>1 </option>
                <option value='6'>6</option>
                <option value='11'>11</option>

            </select>

        </div>
        <div class=''>
            <label for='slTiet1buoi' class='form-label'>Số lượng tiết 1 buổi :</label>
            <select name='slTiet1buoi' style='display: block;' name='' id='slTiet1buoi'>
                <option value='1'>1 </option>
                <option value='2'>2</option>
                <option value='3' selected>3 </option>
                <option value='4'>4</option>

            </select>

        </div>

    </div>
    <div
        class='mb-3'
        style='display: flex;
    justify-content: space-between;'
    >
        <div>
            <label for='monday'>Thứ Hai:</label>
            <input type='checkbox' id='monday' value='1' name='daysOffWeek' />
        </div>
        <div>
            <label for='tuesday'>Thứ Ba:</label>
            <input type='checkbox' id='tuesday' value='2' name='daysOffWeek' />
        </div>
        <div>
            <label for='wednesday'>Thứ Tư:</label>
            <input type='checkbox' id='wednesday' value='3' name='daysOffWeek' />
        </div>
        <div>
            <label for='thursday'>Thứ Năm:</label>
            <input type='checkbox' id='thursday' value='4' name='daysOffWeek' />
        </div>
        <div>
            <label for='friday'>Thứ Sáu:</label>
            <input type='checkbox' id='friday' value='5' name='daysOffWeek' />
        </div>

    </div>
    <div
        style='display: flex;
    justify-content: space-between;'
        class='mb-3'
    >
        <div style='width: 30%;' class=''>
            <label for='startDateString' class='form-label'>Ngày thi:</label>

            <input name='ExamstartDateString' type='date' />
        </div>
        <div class=''>
            <label for='examStartTime' class='form-label'>thi từ tiết: </label>

            <select name='examStartTime' style='display: block;' name='' id='examStartTime'>
                <option value='1' selected>1 </option>
                <option value='6'>6</option>
                <option value='11'>11</option>

            </select>

        </div>
        <div class=''>
            <label for='slTiet1buoi' class='form-label'>thi trong mấy tiết :</label>
            <select name='slTiet1buoiThi' style='display: block;' name='' id='slTiet1buoi'>
                <option value='1'>1 </option>
                <option value='2'>2</option>
                <option value='3' selected>3 </option>
                <option value='4'>4</option>

            </select>

        </div>

    </div>
    <button type='submit' class='btn btn-primary'>Tạo</button>
</form>